body{
    font-family: "Fira Code", sans-serif;
    background-color: #3769ae;
    margin: 0;
    padding: 0;
}

/* Github repository link */
.GithubRepo{
    width: 100%;
    background: linear-gradient(to left, rgb(0,51,102), rgb(15,82,186));
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GithubRepo a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Geist", sans-serif;
    color: white;
}
.GithubRepo:hover {
    background: linear-gradient(to left, rgb(0, 85, 170), rgb(20, 110, 245));
}

/* Menu / navbar */

#navbar {
    background: linear-gradient(to left,#0047ab,#1ca9c9);
    padding: 10px 40px;
    border-radius: 20px;
    margin: 15px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    max-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;
}

.links a{
    text-decoration: none;
    font-family: "Geist", sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.links a:hover{
    background-color: #003b8e;
    border-radius: 5px;
    font-size: 20px;
}

.links a:active{
    background-color: #5fa2ff;
    border-radius: 5px;
    font-size: 20px;
}

/* Title */

h1{
    text-align: center;
    font-size: 70px; 
    font-family: "Fira Code", sans-serif;
    color : white;
}

/* Body Text */

.container img{
    float: right;
    padding: 0px 50px 50px 50px;
    border-radius: 150px;
    height: 600px;
}
.container p{
    padding-top: 0px;
    padding-left: 50px;
    font-size: 20px;
    color:rgb(183, 233, 255);
    height: 500px;
}

/* Footer */

footer {
    font-family: "Fira Code";
    background-color: #1f2937;
    padding: 10px;
    height: 60px;
    width: 98.9%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 50px;
}

.footer-links p,a,a:visited{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover{
    color: rgb(255, 228, 118);
}
