body{
    font-family: "Geist", sans-serif;
    background-color: #73ad56;
    margin: 0;
    padding: 0;
}
/* Github repository link */
.GithubRepo{
    width: 100%;
    background: linear-gradient(to left, rgb(13, 120, 13), rgb(181, 255, 124));
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.GithubRepo a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.GithubRepo:hover {
    background: linear-gradient(to right, rgb(13, 120, 13), rgb(181, 255, 124));
}

/* Menu / navbar */

#navbar {
    background: linear-gradient(to right,#AFFF40 0%,#33AB00 50%);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 15px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    max-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: bold;
}

.links a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.links a:hover{
    background-color: #1b7d00;
    border-radius: 5px;
    font-size: 20px;
}

.links a:active{
    background-color: #7bdb60;
    border-radius: 5px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 100px;
    color: rgb(16, 60, 19);
    margin: 10px 0px;
}
h2{
    text-align: left;
    font-size: 50px;
    color: rgb(16, 60, 19);
    margin: 10px 20px;
}

.contentContainer{
    margin: 10px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.contentContainer{
    align-items: column;
    margin: 0px 100px;
}
.contentImage img{
    width: 400px;
    padding: 0px 40px;
}

.content h3{
    font-size: 30px;
    margin: 5px 5px;
}
.content h4{
    font-size: 20px;
    margin: 0 5px;
}
.content p{
    font-size: 17px;
    margin: 5px 10px;
}
/* Footer */

footer {
    font-family: "Fira Code";
    background-color: #1f2937;
    padding: 10px;
    margin-top: 50px;
    height: 60px;
    width: 98.9%;
    bottom: 0;

}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 50px;
}

.footer-links p,a,a:visited{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover{
    color: rgb(255, 228, 118);
}